.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 15px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  height: 32px;
  /*background: rgba(255,255,255,.2);*/
  margin: 16px;
}

.menu-item-sidebar,
.menu-item-sidebar:hover {
  text-decoration: none;
  color: inherit;
}
