body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.searchbar-filter-icon {
  color: rgba(0, 0, 0, .25);
  cursor: pointer;
}

.searchbar-filter-icon:hover {
  color: rgba(90, 169, 248, 1);
}
